.btn-primary {
  margin: 20px 40px;
  display: block
}

table td,
table th {
  text-align: center;
  padding: 7px
}

.hidden {
  display: none
}

.form-group {
  margin: 20px 40px;
}

.isDeleted {
  width: 40%
}

.form-group small {
  left: 3%
}
