p span {
  font-weight: 800;
  padding: 0 10px;
  color: #333;
}

p {
  width: 50%;
  display: inline-block;
  font-size: 16px;
  color: #ab8ce4
}

p.wid {
  width: 80%
}

.btn-wid {
  position: relative;
}

.cpy-btn {
  position: absolute;
  top: 5%;
  right: 20px;
  width: 65px;
  background-color: transparent;
  padding: 5px 0;
  border: 1px solid #ccc;
}

.cpy-btn:hover {
  background-color: #027de7;
  color: #fff
}
