<div class="modal-header">
  <h4 class="modal-title">Account Details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card">
    <div class="card-header b-l-primary border-5">
      <h5>{{accountDetails?.userName}} <img style="width:150px;height:120px"
          [src]='accountDetails.photo != null ? "data:image/png;base64,"+ accountDetails.photo : myImgUrl'
          class="rounded img-responsive">
      </h5>
    </div>
    <div class="card-body text-center" *ngIf="altText">
      No Content is here
    </div>
    <div class="card-body" *ngIf="!altText">
      <p><span>Role Name:</span> {{accountDetails?.roleName}}</p>
      <p><span>Full Name:</span> {{accountDetails?.fullName}}</p>
      <p><span>Username:</span> {{accountDetails?.userName}}</p>
      <p><span>Email:</span> {{accountDetails?.email}}</p>
      <p><span>Phone Number:</span> {{accountDetails?.phoneNumber}}</p>
      <p><span>Customer Name:</span> {{accountDetails?.customerName}}</p>
      <p><span>State Name:</span> {{accountDetails?.stateName}}</p>
      <p><span>isCustomerAdmin:</span> {{accountDetails?.isCustomerAdmin}}</p>
      <p><span>isActive:</span> {{accountDetails?.isActive}}</p>
      <p><span>Added Date:</span> {{accountDetails?.addedDate | date}} -
        {{accountDetails?.addedDate | date:'shortTime'}} </p>
      <p><span>Modified By Name:</span> {{accountDetails?.modifiedByName}}</p>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h5>Meta Data</h5>
    <button type="button" class="btn btn-outline-primary expand-btn" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Toggle
    </button>
  </div>
  <div class="card-body">
    <div id="collapseExample" [ngbCollapse]="isCollapsed">
      <div class="card mb-0">
        <div class="card-body text-center" *ngIf="altText">
          No Content is here
        </div>
        <div class="card-body" *ngIf="!altText">
          <p><span>Created By:</span> {{accountDetails?.addedByName}}</p>
          <p><span>Created Date:</span> {{accountDetails?.addedDate | date}}</p>
          <p><span>Modified By:</span> {{accountDetails?.modifiedByName}}</p>
          <p><span>Modified Date:</span>{{accountDetails?.modifiedDate | date}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>
