<div class="modal-header">
  <h4 class="modal-title">Change Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #F="ngForm" (submit)="changePass(F)">
<div class="modal-body">

  <div class="row">
    <div class="col-sm-12">
      <label class="col-form-label">Password</label>
      <input type="text" class="form-control form-control-sm" name="password" [(ngModel)]="password" #pass="ngModel"
        placeholder="Entre New Password" required>
        <div *ngIf="!pass.valid && isSubmitted"><span class="err">*</span>
          <small class="text text-danger" *ngIf="pass.errors['required']">This field is
            required.</small>
        </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-dark">Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>
</form>
