.form-group{
    margin: 20px
}
.input-group{
    width:60%;
    margin:10px
}
.btn-primary{
    margin:20px
}
.datatable-body-cell .btn.btn-warning
{
i
{
  color: #fff;
}
}
.edit{
    margin: 0
}
.hidden{
    display: none
}
.form-group small{
    left:3%
}

